@model IEnumerable<Post>

@{
}

<h1>Admin Panel</h1>

<div>
    <ul>
        @foreach (var post in Model)
        {
        <li>
            @post.Title

            <a asp-controller="Home" asp-action="Edit" asp-route-id="@post.Id">
                Edit
            </a>
            <a asp-controller="Home" asp-action="Remove" asp-route-id="@post.Id">
                Delete
            </a>
        </li>
        }
    </ul>
</div>
