body {
    margin: 0;
    background-color: #efefef;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    background-color: #142127;
    height: 50px;
    width: 100%;
    text-align: center;
}

nav a {
    display: inline-block;
    padding: 15px;
}

.main-img {
    position: relative;
    height: 500px;
    background-image: url('../content/static/freecodecamp.png');
    background-position: center;
    background-size: cover;
}

.title {
    position: absolute;
    color: white;
    font-size: 40px;
    left: 50%;
    text-transform: translateX(-50%);
    top: 35%;
    text-shadow: 0 0 8px black;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.post {
    margin: 5px;
    position: relative;
    display: flex;
    height: 400px;
    box-shadow: 0 0 5px 0 black;
}

    .post-body {
        margin: -5px 5px 0;
        background-color: white;
    }

    .post img {
        width: 100%;
        object-fit: cover;
    }

    .no-shadow {
        box-shadow: none;
    }