body {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

nav {
    background-color: #142127;
    height: 50px;
    width: 100%;
    text-align: center;
}

    nav a {
        display: inline-block;
        padding: 15px;
    }

.main-img {
    position: relative;
    height: 500px;
    background-position: center;
    background-image: url("../content/static/");
    background-size: cover;
}

.title {
    position: absolute;
    color: white;
    font-size: 40px;
    left: 50%;
    text-transform: translateX(-50%);
    text-shadow: 0 0 8px black;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: auto;
}