body {
    margin: 0;
    background-color: #efefef;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    background-color: #142127;
    height: 50px;
    width: 100%;
    text-align: center;
}

nav a {
    display: inline-block;
    padding: 15px;
}

.main-img {
    position: relative;
    height: 500px;
    background-image: url('../content/static/freecodecamp.png');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: white;
    font-size: 40px;
    text-shadow: 0 0 8px black;
    margin-bottom: 1rem;
}

.title-link {
    color: blue;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.post {
    margin: 5px;
    position: relative;
    display: flex;
    height: 400px;
    box-shadow: 0 0 5px 0 black;
}

    .post-body {
        margin: -5px 5px 0;
        padding: 20px 5px;
        background-color: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .post img {
        width: 100%;
        object-fit: cover;
    }

    .no-shadow {
        box-shadow: none;
    }

.pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

    .pages a {
        background-color: #aaa;
        color: white;
        padding: 0.5rem 0.75rem;
        border: 1px solid #eee;
        margin: 0 0.25rem;
    }

        .pages a:active {
            background-color: #ccc;
        }

        .pages a:hover {
            background-color: #999;
            text-decoration: none;
        }

.three-dots {
    line-height: 1;
    font-size: 24px;
}

.sign-in-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .sign-in-form div {
        max-width: 200px;
        width: 100px;
        margin-bottom: 1rem;
    }

.search {
    color: #000;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    border-bottom: 2px solid #efefef
}

    .search::placeholder {
        color: aqua;
    }

    .submit-btn {
        display: none;
    }

    @media screen and (max-width: 768px) {
        .submit-btn {
            display: inline-block;
        }
    }